body {
    padding: 1%;
    background-color: black;;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table tr th, table tr td {
    color: lightgoldenrodyellow;
    padding: 6px;
    border: 2px darkblue solid;
}
tfoot tr th, tfoot tr td {
    font-size: 18px;
}
tfoot tr th {
    text-align: right;
}